<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Внести результаты иссследования</title>
</head>
<body>
<div layout:fragment="content">
    <h3 align="center" th:text="'Внесение результатов исследования номер: ' + ${analyse.id}"></h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/labworker/edit/analys/}"
          th:object="${analyseUpdate}">

        <input type="hidden" name="id" th:value="${analyse.id}">
        <input type="hidden" name="notes" th:value="${analyse.getNotes()}">
        <input type="hidden" name="isApproved" th:value="${analyse.getIsApproved()}">
        <input type="hidden" name="isSend" th:value="${analyse.isSend}">
        <input type="hidden" name="appointmentDate" th:value="${analyse.getAppointmentDate()}">
        <input type="hidden" name="dateOfCompletion" th:value="${analyse.getDateOfCompletion()}">

        <br>
        <br>
        <br>

        <div>
            <table class="table table-striped">
                <tr>
                    <th>Результаты исследования</th>
                    <td>
                        <label for="rbc">Эритроциты (*10^12/л)</label>
                        <input name="rbc" th:value="${analyse.getRbc()}" type="text" class="form-control"
                               id="rbc" placeholder="Эритроциты (*10^12/л)" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>

                        <label for="hgb">Гемоглобин (г/л)</label>
                        <input name="hgb" th:value="${analyse.getHgb()}" type="text" class="form-control"
                               id="hgb" placeholder="Гемоглобин (г/л)" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>

                        <label for="hct">Гематокрит (%)</label>
                        <input name="hct" th:value="${analyse.getHct()}" type="text" class="form-control"
                               id="hct" placeholder="Гематокрит (%)" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>

                        <label for="plt">Тромбоциты (*10^9/л)</label>
                        <input name="plt" th:value="${analyse.getPlt()}" type="text" class="form-control"
                               id="plt" placeholder="Тромбоциты (*10^9/л)" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>

                        <label for="wbc">Лейкоциты (*10^9/л)</label>
                        <input name="wbc" th:value="${analyse.getWbc()}" type="text" class="form-control"
                               id="wbc" placeholder="Лейкоциты (*10^9/л)" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>

                        <label for="midPr">Средние клетки (%)</label>
                        <input name="midPr" th:value="${analyse.getMidPr()}" type="text" class="form-control"
                               id="midPr" placeholder="Средние клетки (%)" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>

                        <label for="lymPr">Лимфоциты (%)</label>
                        <input name="lymPr" th:value="${analyse.getLymPr()}" type="text" class="form-control"
                               id="lymPr" placeholder="Лимфоциты (%)" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>

                        <label for="graPr">Гранулоциты (%)</label>
                        <input name="graPr" th:value="${analyse.getGraPr()}" type="text" class="form-control"
                               id="graPr" placeholder="Гранулоциты (%)" required>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-3 row g-2">
            <div sec:authorize="isAuthenticated() && (hasRole('LABWORKER'))">
                <button type="submit" class="btn btn-primary">Сохранить результаты</button>
                <a class="btn btn-sm btn-outline-danger" onclick="window.history.back()">Назад</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
